<h1>Edit Your Profile</h1>

<%= form_for [@profile] do |f| %>
	<div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %> 
  </div>
<br>
  <div class="field">
    <%= f.label "I am a..." %>
    <%= @role %>.
  </div>
<br>
  <div class="field">
    <%= f.label 'My phone number is...' %>
    <%= f.text_field :phone %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
  <% end %>