<%= form_for [@profile, @child] do |f| %>
	<div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %> 
  </div>
<br>
	<%= recaptcha_tags %>
<br>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
  <% end %>