<% if user_signed_in? and @user.profile %>
	<%= @user.profile.name %><br>
	<%= @user.email %><br>
	<%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
<% end %>
<h1>Taking Care of your Child's Teeth: An Introduction</h1>

<% if !user_signed_in? %>
	<p>Want to manage your child's dental health? <%= link_to 'Sign up here!', new_user_registration_path %></p>
	<p>Coming back to add more data? <%= link_to "Please sign in!", new_user_session_path %></p>
<% else %>

<% if !current_user.profile %>
	<p><%= link_to "Create Your Profile", new_profile_path %></p>
<% else current_user.profile %>
	<p><%= link_to "View Your Profile", profile_path(@profile) %></p>
<% end %>
	<% if current_user.profile and current_user.profile.role == 'p_parent' %>
		<p><%= link_to "My Children", profile_children_path(@profile) %></p>
	<% end %>

	<% if current_user.profile and current_user.profile.role == 'staff' %>
	<p><%= link_to "View All Parents", profiles_path %></p>
	<% end %>
<% end %>

<%= link_to "Take the Tutorial!", babyteeth_path %>

